@font-face {
  font-family: "font1";
  src: url("/fonts/cour.ttf") format("truetype");
}

body {
  background: teal;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
}

#navbar {
  background: #333;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 15px 5px;
  /*transition: 0.4s;*/
}

li {
  color: white;
  font: normal bold 1.3em "font1";
}

li a {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 15px 16px;
}

li:not(.active) a:hover {
  background-color: #111;
}

.active {
  background-color: gray;
}

table,
th,
td {
  border: 0px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 0px;
}

iframe {
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: font1;
  color: white;
}


h1, h2, h3, h4, h5, h6 {
  font-family: font1;
  color: white;
}

a {
  color: #ffffff;
}
