<html>
  <head>
	  <link rel="icon" type="image/png" href="http://lptcdojo.comicclub.net/yinyang.png">
      <meta name="viewport" content="width=device-width" />
      <link rel="stylesheet" href="/css/main.css">
  </head>
<body>
  <header>
    <nav>
      <ul id="navbar">
      {% for item in menuItems %}
        <li {% if activePath == item.path %}class="active"{% endif %}><a href="{{ item.path }}">{{ item.title }}</a></li>
      {% endfor %}
      </ul>
    </nav>
    </header>
  <main>
  <br>
  <br>
  <br>
  <br>
  <br>
    {% block content %}{% endblock %}
  </main>
  <div class="footer">
  <p><a href="/info">Credits and Source Code</a></p>
 </div>
</html>