<html>
<head>
<link rel="stylesheet" href="/css/hacker.css">
</head>
<body>
<div>
<h2>Hacker Mode Activated!</h2>
<br>
<h3>Scratch Games:</h3>
{% for item in scratch %}

<p>Games by {{item.username}}:</p>
{% for game in item.games %}
<p><a href="{{shortlink}}{{game.id}}">> {{game.name}}</a></p>
{% else %}
<p>No Games Found</p>
{% endfor %}
<br>
{% else %}
<p>No Users Found</p>
{% endfor %}
<br>
<h3>Html Pages:</h3>
{% for item in users%}
<p><a href="/ninjas/{{item.id}}">> {{item.name}}</a></p>
{% else %}
<p>None Found</p>
{% endfor %}
</font>
</div>
</body>
</html>