<html>
<head>
<link rel="stylesheet" href="/css/hacker.css">
</head>
<body>
<div>
<p>Hacker Mode Activated!</p>
<br>
<p>Scratch Games:</p>
{% for item in scratch %}
<br>
<p>Games by {{item.username}}:</p>
{% for game in item.games %}
<p><a href="{{shortlink}}{{game.id}}">> {{game.name}}</a></p>
{% else %}
<p>No Games Found</p>
{% endfor %}
{% else %}
<p>No Users Found</p>
{% endfor %}
<br>
<p>Html Pages:</p>
{% for item in users%}
<p><a href="/ninjas/{{item.id}}">> {{item.name}}</a></p>
{% else %}
<p>None Found</p>
{% endfor %}
</font>
</div>
</body>
</html>