{% extends "bg.html" %}
{% block content%}
<h1 align="center" >What is CoderDojo?</h1>
<div width="100%" style="float:right;background-color:teal;" height="50%" color="teal">

	<p align="middle"><img height="50%" width="50%" src="http://imagedb.comicclub.net/dojo1.jpg" align="left">The LPTC@Lexlip CoderDojo is a place where young people learn how to code in a relaxed and unique setting. Founded in 2012 in Hewlett-Packard, Leixlip, our mission has always been to inspire kids to actively engage with the technological revolution which has taken over the world.</p></div>
</div>


<h1 align="center" >What can you do in CoderDojo Lexlip?</h1>
<div width="100%" style="float:right;background-color:teal;" height="50%" color="teal">

	<p align="middle"><img height="50%" width="50%" src="http://imagedb.comicclub.net/dojo2.jpg" align="right">
	We belive in a form of "organised chaos" which values the individuality of our Ninjas while also trying to encourge them to wrok in groups and take part in peer-to-peer mentoring. All our mentors volunteer out of a love for technology and so if a Ninja wants to learn Java, HTML, PHP, Python, Swift, Ruby or anything in between we are all for it!<br>We are trying to create a space where kids can come to and interact with those kids who share a simular passion. Where they learn the skills of the future and get the assistance they need on thier projects.
	</p></div>


<h1 align="center">Where is CoderDojo Leixlip?</h1>
<div width="100%" style="float:right;background-color:teal;" height="50%" color="teal">
<p align="middle"><div class="mapouter" ><div class="gmap_canvas"><iframe width="50%" height="50%" align="left" id="gmap_canvas" src="https://maps.google.com/maps?q=hewlett%20packard%20enterprise%20leixlip&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div></div></td></p>
<div width="50%">
LPTC@Lexlip CoderDojo is in Hewlett-Packard, Leixlip Saterdays from 12am to 2pm. Here is the location on Google Maps. Please check out our <a href="https://www.facebook.com/lptcdojo/">Facebook</a> for the lastest updates. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div></p>
</div>

{% endblock %}