{% extends "bg.html" %}
{% block content%}
<h3>Credits:</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Role</th>
    <th>Github/Website</th>
  </tr>
  <tr>
    <td>Jake Feeney</td>
    <td>Supreme Overlord of the Project, Primary Backend Developer, HTML and CSS Debugger</td>
    <td>Project Leader, Serverside Developer, The Person who does most of the Debugging</td>
    <td><a href="https://github.com/VampireSausageTech">GitHub</td>
  </tr>
  <tr>
    <td>Shane Heavey</td>
    <td>The CSS Guy</td>
    <td>Main HTML and CSS Developer</td>
    <td><a href="https://comicclub.net">Website</a></td>
  </tr>
 
</table>
<br>
<p>Special Thanks to <a href="https://github.com/spastorelli">Steve</a> for getting us started us this project.</p>
<br>
<br>
<p><a href="https://github.com/lptcdojo/LptcSite2">Source Code</a></p>

{% endblock %}